@model StudentProject.Models.Student



<div class="container">         
            <div class="col-md-12 input-group">
                <div class="col-md-6 p-1">
                    <input class="form-control" asp-for="Id" id="Id" hidden/>
                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" asp-for="FirstName" id="FirstName" placeholder="First Name"/>
                    </div>
                </div>
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" asp-for="LastName" id="LastName" placeholder="LastName"/>
                    </div>
                </div>
            </div>            
            <div class="col-sm-12 input-group">                
                    <div class="form-group col-md-6 p-1">
                        <label>Father Name</label>
                        <input class="form-control" asp-for="FatherName" id="FatherName" placeholder="Father Name"/>
                    </div>
                    <div class="form-group col-md-6 p-1">
                        <label>Class</label>
                        <input class="form-control" asp-for="Class" id="Class" placeholder="Class"/>
                    </div>
                
            </div>
            <div class="col-md-12 input-group">
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>City</label>
                        <input class="form-control" asp-for="City" id="City" placeholder="City"/>
                    </div>
                </div>
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>Country</label>
                        <input class="form-control" asp-for="Country" id="Country" placeholder="Country"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12 p-1" id="address">
                <label class="p-1">Addresses</label>
              @if (Model.addresses.Count() > 0)
              {        
                  foreach (var item in Model.addresses)
                  {
                    <input type="text"   id="@item.Id" value="@item.Name"  name="address"  class="form-control p-1 address" />      
                  }
              }
              </div>
        <div class="col-md-12 p-1">
            <button type="button" class="btn btn-primary" id="btUpdate">Update</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
      </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $("#btUpdate").click(function(){
        debugger;
        var AddList=JSON.stringify(GetAddresses());
        var detail=JSON.stringify(GetDetail());  
        debugger;
        $.ajax({
            url:"@Url.Action("Edit")",
            method:"Post",
            data:{addressList:AddList,detail:detail},
            success:function(response){
                if(response=="ok")
                {
                    alert("Updated");                    
                    window.location.href = '@Url.Action("Index","Home")';
                }
                else{
                    alert("Insert failed");
                }
            },
            error:function(error){
                console.log(error);
            }
        });
    });


     function GetAddresses()
    {           
        var DetailList = [];
        var rowsCont = $('#address').children().length;
        var count = 1;
        $('#address').children('.address').each(function (){             
            var ob = {};
            ob.Name = $(this).val();
            ob.Id= $(this).attr("Id");
            ob.StudentId=$("#Id").val();
            DetailList.push(ob);
            count++;
        });
        return DetailList;
    }

    function GetDetail()
    {
        var obj={};
        obj.Id=$("#Id").val();
        obj.FirstName=$("#FirstName").val();
        obj.LastName=$("#LastName").val();
        obj.FatherName=$("#FatherName").val();
        obj.Class=$("#Class").val();
        obj.City=$("#City").val();
        obj.Country=$("#Country").val();
        return obj;
    }

</script>      