@model IEnumerable<StudentProject.Models.Student>

<button type="button" class="btn btn-primary" id="btnAdd" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New</button>

<div id="ajaxresult">
<partial name="_StudentsList" model="Model"></partial>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modalBody">
      
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

$("#btnAdd").click(function(){
    $.ajax({
        url:"Student2/_Create",
        method:"Get",
        success:function(response){
            $("#modalBody").html(response);
            $(".modal").show();
            $("#btnUpdate").hide();
            $("#btnSave").show();
        },
        error:function(){

        },
    });//ajax
});//btnAdd

function Edit(btn){
    var id=btn.id;
    $.ajax({
        url:"Student2/_Edit",
        method:"Get",
        data:{id:id},
        success:function(response){
            $("#modalBody").html(response);
            $(".modal").show();
            $("#btnSave").hide();
            $("#btnUpdate").show();
        },
        error:function(){

        },
    });//ajax
}


function Details(btn){
    var id=btn.id;
    $.ajax({
        url:"Student2/_Details",
        method:"Get",
        data:{id:id},
        success:function(response){
            $("#modalBody").html(response);
            $(".modal").show();
            $("#btnSave").hide();
            $("#btnUpdate").hide();
        },
        error:function(){

        },
    });//ajax
}

function Delete(btn)
{
    var id=btn.id;
    $.ajax({
        url:"Student2/Delete",
        method:"Get",
        data:{id:id},
        success:function(response){
            if(response=="ok")
                {
                    alert("Deleted");
                    $('#ajaxresult').load('@Url.Action("_StudentsList")');
                    $(".modal").hide();
                    $('.modal-backdrop').remove();
                    
                }
                else{
                    alert("Delete failed");
                }
        },
        error:function(){

        },
    });//ajax
}



</script>